@import './variable';

.al-details-header-contents {
    display: flex;
}

@media only screen and (max-width: 500px) {
    .al-details-header-contents {
        display: block;
    }
}

.move-type {
    font-family: $primary-font-semibold;
    color: $secondary-text-color;
    font-size: $font-size-16;
}

// Status badge styling starts here
.al-details-badge {
    display: inline-block;
    padding: $padding-6 $padding-24;
    text-align: center;
    border-radius: $border-radius-3;
}
.badge-sty {
    background-color: $batch-bg;
    font-family: $primary-font-bold;
    font-size: $font-size-14;
    color: $white-color;
}

// .invoiced-badge {
//     background-color: $invoiced-badge;
// }

// .on-hold-badge {
//     background-color: $on-hold-badge;
// }

// .booked-badge {
//     background-color: $booked-badge;
// }

// .pickup-badge {
//     background-color: $pickup-badge;
// }

// .delivery-badge {
//     background-color: $delivery-badge;
// }
// Status badge styling ends here


// DOcument card styling starts here
.all-details-card {
    background-color: $doc-card-bg-color;
    padding: $padding-4;
    border-radius: $border-radius-3;
}

.doc-icon-sty {
    width: $pdf-icon-width;
    height: $pdf-icon-height;
}

.res-cosignee-brd-sty {
    border-right: $size-1 solid $border-color;
    border-left: $size-1 solid $border-color;
}

@media only screen and (max-width: 991px) {
    .res-cosignee-brd-sty {
        border-right: none;
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .res-cosignee-brd-sty {
        border-left: none;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .res-doc-brd-sty {
        border-right: $size-1 solid $border-color;
    }
}

// Document-scroll-sty style starts here
.document-scroll-sty::-webkit-scrollbar {
    width: $size-6 !important;
    height: $size-6 !important;
}

.document-scroll-sty::-webkit-scrollbar-track {
    background: $doc-card-bg-color;
}

.document-scroll-sty::-webkit-scrollbar-thumb {
    background: $secondary-text-color;
    border-radius: $border-radius-10;
}

.document-scroll-sty {
    scrollbar-width: thin;
    overflow-y: scroll;
    height: $doc-slim-scroll-height;
}

.al-details-pdf-icon {
    width: $pdf-icon-width;
    height: $pdf-icon-height;
}

.al-details-download-icon {
    width: $download-icon-width;
    height: $download-icon-height;
}

.al-details-email-icon {
    width: $email-icon-width;
    height: $email-icon-height;
}

.send-email-popup-width {
    max-width: $send-email-popup-width;
}

.no-records {
    height: $no-records-card-height;
}

.no-records-icon {
    width: $no-records-icon-width;
    height: $no-records-icon-height;
}

.batch-status-res-position
{
    display: flex;
}
.doc-z-index
{
    z-index: $doc-z-index;
}
@media only screen and (max-width: 350px) {
.batch-status-res-position
{
    display: block;
}
.move-type-res-space
{
    margin-bottom: 15px !important;
}
}
.move-type-res-space
{
    margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
    .res-tracking-brd-sty {
        border-right: $size-1 solid $border-color;
    }   
}