@import './variable';

.al-header-contents {
    display: flex;
}

// .al-header-cta {
//     display: flex;
// }
.al-margin-start-search
{
    margin-left: $padding-16;
}
.al-margin-start-filter
{
    margin-left: $padding-16;
}
@media only screen and (max-width: 1000px) {
    .al-header-contents {
        display: block;
    }
}

.d-records-width {
    width: $d-records-width;
}
.al-header-alignment
{
    display: flex;
}
@media only screen and (max-width: 811px) {
    .al-header-alignment
    {
        display: unset;
    }
    .al-margin-start-search
{
    margin-left: $padding-0;
}
}
@media only screen and (max-width: 422px) {
    .al-header-select-width
    {
        width: $percent-100 !important;
    }
}
@media only screen and (max-width: 414px) {
    .al-margin-start-filter
{
    margin-left: $padding-0;
}
.al-margin-end-filter
{
    margin-right: $padding-16;
}
}