@font-face {
  font-family: "Barlow Bold";
  src: url("../Fonts/Barlow-Bold.eot") format("embedded-opentype"), url("../Fonts/Barlow-Bold.woff2") format("woff2"), url("../Fonts/Barlow-Bold.woff") format("woff"), url("../Fonts/Barlow-Bold.svg") format("svg"), url("../Fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow Semibold";
  src: url("../Fonts/Barlow-SemiBold.eot") format("embedded-opentype"), url("../Fonts/Barlow-SemiBold.woff2") format("woff2"), url("../Fonts/Barlow-SemiBold.woff") format("woff"), url("../Fonts/Barlow-SemiBold.svg") format("svg"), url("../Fonts/Barlow-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Regular";
  src: url("../Fonts/Lato-Regular.eot") format("embedded-opentype"), url("../Fonts/Lato-Regular.woff2") format("woff2"), url("../Fonts/Lato-Regular.woff") format("woff"), url("../Fonts/Lato-Regular.svg") format("svg"), url("../Fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Medium";
  src: url("../Fonts/Lato-Medium.eot") format("embedded-opentype"), url("../Fonts/Lato-Medium.woff2") format("woff2"), url("../Fonts/Lato-Medium.woff") format("woff"), url("../Fonts/Lato-Medium.svg") format("svg"), url("../Fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Semibold";
  src: url("../Fonts/Lato-Semibold.eot") format("embedded-opentype"), url("../Fonts/Lato-Semibold.woff2") format("woff2"), url("../Fonts/Lato-Semibold.woff") format("woff"), url("../Fonts/Lato-Semibold.svg") format("svg"), url("../Fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Bold";
  src: url("../Fonts/Lato-Bold.eot") format("embedded-opentype"), url("../Fonts/Lato-Bold.woff2") format("woff2"), url("../Fonts/Lato-Bold.woff") format("woff"), url("../Fonts/Lato-Bold.svg") format("svg"), url("../Fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Extra Bold";
  src: url("../Fonts/Lato-ExtraBold.eot") format("embedded-opentype"), url("../Fonts/Lato-ExtraBold.woff2") format("woff2"), url("../Fonts/Lato-ExtraBold.woff") format("woff"), url("../Fonts/Lato-ExtraBold.svg") format("svg"), url("../Fonts/Lato-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
/* stepper styles starts here */
.custom-stepper {
  list-style: none;
  text-align: center;
  width: 100%;
}

.stepper-text {
  font-size: 16px;
  font-family: "Barlow Semibold";
  color: #888888;
}

.stepper-count.active .stepper-text {
  font-size: 16px;
  font-family: "Barlow Semibold";
  color: #115E67;
}

.stepper-count.completed .stepper-text {
  font-size: 16px;
  font-family: "Barlow Semibold";
  color: #115E67;
}

.bookltl-shipmentdetail-stepper-icon {
  background-image: url("../Images/bookltl-shipment-details-active-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 17px 27px;
}

.stepper-count.active .bookltl-shipmentdetail-stepper-icon {
  background-image: url("../Images/bookltl-shipment-details-active-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 17px 27px;
}

.stepper-count.completed .bookltl-shipmentdetail-stepper-icon {
  background-image: url("../Images/bookltl-shipment-details-completed-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 17px 27px;
}

.bookltl-shipperinfo-stepper-icon {
  background-image: url("../Images/bookltl-shipment-info-inactive-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 17px 27px;
}

.stepper-count.active .bookltl-shipperinfo-stepper-icon {
  background-image: url("../Images/bookltl-shipment-info-active-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 17px 27px;
}

.stepper-count.completed .bookltl-shipperinfo-stepper-icon {
  background-image: url("../Images/bookltl-shipment-info-completed-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 17px 27px;
}

.bookltl-choosecarrier-stepper-icon {
  background-image: url("../Images/bookltl-choose-carrier-inactive-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 17px 27px;
}

.stepper-count.active .bookltl-choosecarrier-stepper-icon {
  background-image: url("../Images/bookltl-choose-carrier-active-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 17px 27px;
}

.stepper-count {
  position: relative;
  display: inline-block;
}

.stepper-count:not(:first-child) {
  margin-left: 4em;
}

.stepper-count.active.stepper-2::after {
  border-bottom: 2px dashed #115E67;
}

.stepper-count.completed.stepper-2::after {
  border-bottom: 2px dashed #115E67;
}

.stepper-count.active.stepper-3::after {
  border-bottom: 2px dashed #115E67;
}

.stepper-count.completed.stepper-3::after {
  border-bottom: 2px dashed #115E67;
}

.stepper-2::after {
  content: "";
  width: 98%;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.1019607843);
  position: absolute;
  height: 1px;
  top: 16%;
  left: -86%;
  z-index: -1;
}

.stepper-3::after {
  content: "";
  width: 144%;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.1019607843);
  position: absolute;
  height: 1px;
  top: 16%;
  left: -150%;
  z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .stepper-2::after {
    content: "";
    width: 27%;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1019607843);
    position: absolute;
    height: 1px;
    top: 52%;
    left: -30%;
    z-index: -1;
  }
  .stepper-3::after {
    content: "";
    width: 35%;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1019607843);
    position: absolute;
    height: 1px;
    top: 52%;
    left: -38%;
    z-index: -1;
  }
}
@media only screen and (min-width: 1200px) {
  .stepper-2::after {
    content: "";
    width: 25%;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1019607843);
    position: absolute;
    height: 1px;
    top: 52%;
    left: -27%;
    z-index: -1;
  }
  .stepper-3::after {
    content: "";
    width: 25%;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1019607843);
    position: absolute;
    height: 1px;
    top: 52%;
    left: -27%;
    z-index: -1;
  }
}
@media only screen and (max-width: 460px) {
  .stepper-count:not(:first-child) {
    margin-left: 2em;
  }
}
/*stepper styles ends here*/
.commodities-input-grp {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.density-popup-width {
  max-width: 650px;
}

.density-icon {
  line-height: 1;
  display: inline-grid;
  place-items: center;
  width: 24px;
  height: 24px;
  color: #ffffff;
  background-color: #115E67;
  border-radius: 50%;
  font-family: "Lato Semibold";
}

.density-modal-position {
  position: absolute;
  top: -35px;
  left: 170px;
}

.search-popup-width {
  max-width: 750px;
}

.nmfc-loader-height {
  height: 370px;
}

.nfmc-grid {
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
}

.nfmc-table-head {
  background-color: #F9FBFC;
  border-radius: 4px;
  border-bottom: 1px solid #DBDBDB;
}

.nfmc-grid tr:nth-child(odd) {
  background-color: #F2FDFE;
}

.nfmc-grid th {
  padding: 16px;
  font-size: 15px;
  font-family: "Lato Bold";
  color: #373737;
}

.nfmc-grid tbody td {
  padding: 16px;
  font-size: 14px;
  font-family: "Lato Semibold";
  color: #373737;
}

.nfmc-grid th:first-child {
  border-radius: 4px 0 0 0;
}

.nfmc-grid th:last-child {
  border-radius: 0 4px 0 0;
}

.nfmc-grid tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.nfmc-grid tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

.quote-link-color {
  color: #1C85BF;
}

.tr-width {
  max-width: 650px;
}

.tr-bg-color {
  background-color: #00873E;
  border-radius: 10px;
}

.tr-modal-header {
  padding: 14px 13px 0px 19px;
}

.tr-fls-txt {
  font-family: "Lato Semibold";
  font-size: 16px;
  color: #888888;
}

.tr-progress-bar {
  height: 15px;
  background-color: #dbdbdb;
  display: flex;
  border-radius: 10px;
  overflow: visible;
}

.bookltl-request-btn {
  margin-left: 20px;
}

@media only screen and (max-width: 550px) {
  .bookltl-request-btn {
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 550px) {
  .btn-order {
    flex-direction: column;
  }
}
@media only screen and (max-width: 550px) {
  .bookltl-mbl-btn-order-1 {
    order: 1;
  }
}
@media only screen and (max-width: 550px) {
  .bookltl-mbl-btn-order-2 {
    order: 2;
  }
}
.shipment-m-bottom {
  border-bottom: 1px solid #DBDBDB;
}

.all-details-popup {
  font-family: "Lato Bold";
  font-size: 16px;
  color: #115E67;
}

.bookl-popup-width {
  max-width: 850px;
}

.all-details-popup-label {
  font-size: 14px;
  font-family: "Lato Semibold";
  color: #373737;
}

.all-details-popup-altclr {
  background-color: #F2FDFE;
}

.dimension-data-sty {
  font-family: "Lato Bold";
  font-size: 15px;
  color: #373737;
  margin-bottom: 6px;
}

.popup-sub-header {
  font-family: "Barlow Bold";
  font-size: 18px;
  color: #373737;
}

.popup-total-border-line {
  border-top: 1px solid #DBDBDB;
  border-bottom: 0.5px solid #DBDBDB;
}

@media only screen and (min-width: 768px) {
  .book-res-brd-left-sty {
    border-right: 1px solid #DBDBDB;
  }
}
.popup-carriernote-scrl-sty::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.popup-carriernote-scrl-sty::-webkit-scrollbar-track {
  background: #f9fbfc;
}

.popup-carriernote-scrl-sty::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}

.popup-carriernote-scrl-sty {
  scrollbar-width: thin;
  overflow-y: scroll;
  height: 200px;
}/*# sourceMappingURL=book_ltl.css.map */