@import './variable';

/* stepper styles starts here */
.custom-stepper {
    list-style: none;
    text-align: center;
    width: $percent-100;
}

.stepper-text {
    font-size: $font-size-16;
    font-family: $stepper-heading-font;
    color: $secondary-text-color;
}

.stepper-count.active .stepper-text {
    font-size: $font-size-16;
    font-family: $stepper-heading-font;
    color: $primary-color;
}

.stepper-count.completed .stepper-text {
    font-size: $font-size-16;
    font-family: $stepper-heading-font;
    color: $primary-color;
}

.bookltl-shipmentdetail-stepper-icon {
    background-image: url('../Images/bookltl-shipment-details-active-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}

.stepper-count.active .bookltl-shipmentdetail-stepper-icon {
    background-image: url('../Images/bookltl-shipment-details-active-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}

.stepper-count.completed .bookltl-shipmentdetail-stepper-icon {
    background-image: url('../Images/bookltl-shipment-details-completed-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}

.bookltl-shipperinfo-stepper-icon {
    background-image: url('../Images/bookltl-shipment-info-inactive-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}

.stepper-count.active .bookltl-shipperinfo-stepper-icon {
    background-image: url('../Images/bookltl-shipment-info-active-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}

.stepper-count.completed .bookltl-shipperinfo-stepper-icon {
    background-image: url('../Images/bookltl-shipment-info-completed-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}

.bookltl-choosecarrier-stepper-icon {
    background-image: url('../Images/bookltl-choose-carrier-inactive-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}

.stepper-count.active .bookltl-choosecarrier-stepper-icon {
    background-image: url('../Images/bookltl-choose-carrier-active-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}

.stepper-count {
    position: relative;
    display: inline-block;
}

.stepper-count:not(:first-child) {
    margin-left: $margin-4em;
}

.stepper-count.active.stepper-2::after {
    border-bottom: $stepper-border-2 dashed $primary-color;
}

.stepper-count.completed.stepper-2::after {
    border-bottom: $stepper-border-2 dashed $primary-color;
}

.stepper-count.active.stepper-3::after {
    border-bottom: $stepper-border-2 dashed $primary-color;
}

.stepper-count.completed.stepper-3::after {
    border-bottom: $stepper-border-2 dashed $primary-color;
}

.stepper-2::after {
    content: "";
    width: $percent-98;
    border-bottom: $stepper-border-2 dashed $stepper-color;
    position: absolute;
    height: $stepper-border-height-1;
    top: $percent-16;
    left: -$percent-86;
    z-index: -$stepper-z-index-1;
}

.stepper-3::after {
    content: "";
    width: $percent-144;
    border-bottom: $stepper-border-2 dashed $stepper-color;
    position: absolute;
    height: $stepper-border-height-1;
    top: $percent-16;
    left: -$percent-150;
    z-index: -$stepper-z-index-1;
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .stepper-2::after {
        content: "";
        width: $percent-27;
        border-bottom: $stepper-border-2 dashed $stepper-color;
        position: absolute;
        height: $stepper-border-height-1;
        top: $percent-52;
        left: -$percent-30;
        z-index: -$stepper-z-index-1;
    }

    .stepper-3::after {
        content: "";
        width: $percent-35;
        border-bottom: $stepper-border-2 dashed $stepper-color;
        position: absolute;
        height: $stepper-border-height-1;
        top: $percent-52;
        left: -$percent-38;
        z-index: -$stepper-z-index-1;
    }
}

@media only screen and (min-width: 1200px) {
    .stepper-2::after {
        content: "";
        width: $percent-25;
        border-bottom: $stepper-border-2 dashed $stepper-color;
        position: absolute;
        height: $stepper-border-height-1;
        top: $percent-52;
        left: -$percent-27;
        z-index: -$stepper-z-index-1;
    }

    .stepper-3::after {
        content: "";
        width: $percent-25;
        border-bottom: $stepper-border-2 dashed $stepper-color;
        position: absolute;
        height: $stepper-border-height-1;
        top: $percent-52;
        left: -$percent-27;
        z-index: -$stepper-z-index-1;
    }
}

@media only screen and (max-width: 460px) {
    .stepper-count:not(:first-child) {
        margin-left: $margin-2em;
    }
}

/*stepper styles ends here*/


.commodities-input-grp{
    border-top-right-radius: $border-radius-3;
    border-bottom-right-radius: $border-radius-3;
}

// Popup Styles Starts Here
.density-popup-width {
    max-width: $density-popup-width;
}

.density-icon{
    line-height: $line-height-1;
    display: inline-grid;
    place-items: center;
    width: $padding-24;
    height: $padding-24;
    color: $white-color;
    background-color: $primary-color;
    border-radius: $percent-50;
    font-family: $primary-font-semibold;
}

.density-modal-position {
    position: absolute;
    top: -$density-popup-top-position;
    left: $density-popup-left-position;
}

.search-popup-width {
    max-width: $search-popup-width;
}

.nmfc-loader-height{
    height: 370px;
}

.nfmc-grid {
    white-space: nowrap;
    background-color: $white-color;
    border-radius: $t-border-radius-4;
    border: $size-1 solid $border-color;
}

.nfmc-table-head {
    background-color: $t-head-bgcolor;
    border-radius: $t-border-radius-4;
    border-bottom: $size-1 solid $border-color;
}

.nfmc-grid tr:nth-child(odd) {
    background-color: $t-alternate-bgcolor;
}

.nfmc-grid th {
    padding: $padding-16;
    font-size: $font-size-15;
    font-family: $primary-font-bold;
    color: $primary-text-color;
}

.nfmc-grid tbody td {
    padding: $padding-16;
    font-size: $font-size-14;
    font-family: $primary-font-semibold;
    color: $primary-text-color;
}


.nfmc-grid th:first-child {
    border-radius: $t-border-radius-4 0 0 0;
}

.nfmc-grid th:last-child {
    border-radius: 0 $t-border-radius-4 0 0;
}

.nfmc-grid tr:last-child td:first-child {
    border-radius: 0 0 0 $t-border-radius-4;
}

.nfmc-grid tr:last-child td:last-child {
    border-radius: 0 0 $t-border-radius-4 0;
}  
.quote-link-color{
    color: $link-color;
}

.tr-width{
    max-width: 650px;
}

.tr-bg-color{
    background-color: $secondary-color;
    border-radius: 10px;
}
.tr-modal-header{
    padding: 14px 13px 0px 19px;
}
.tr-fls-txt{
    font-family: $primary-font-semibold;
    font-size: $font-size-16;
    color: $secondary-text-color;
}
.tr-progress-bar{
    height: 15px;
    background-color: #dbdbdb;
    display: flex;
    border-radius: 10px;
    overflow: visible;
}

.bookltl-request-btn {
    margin-left: $padding-20;
}

@media only screen and (max-width: 550px) {
    .bookltl-request-btn {
        margin-left: $padding-0 !important;
    }
}


@media only screen and (max-width: 550px){
    .btn-order {
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {
    .bookltl-mbl-btn-order-1 {
        order: 1;
    }
}

@media only screen and (max-width: 550px) {
    .bookltl-mbl-btn-order-2 {
        order: 2;
    }    
}

.shipment-m-bottom{
    border-bottom: $size-1 solid $border-color;
}

.all-details-popup{
    font-family: $primary-font-bold;
    font-size: $font-size-16;
    color:$primary-color;
}
.bookl-popup-width{
    max-width: $view-details-popup-width;
}
.all-details-popup-label{
    font-size: $font-size-14;
    font-family: $primary-font-semibold;
    color: $primary-text-color;
}
.all-details-popup-altclr{
    background-color: $t-alternate-bgcolor;
}

.dimension-data-sty
{
    font-family: $primary-font-bold;
    font-size: $font-size-15;
    color: $primary-text-color;
    margin-bottom: $padding-6;
}
.popup-sub-header
{
    font-family: $page-heading-font;
    font-size: $font-size-18;
    color: $primary-text-color;
}
.popup-total-border-line{
    border-top: $size-1 solid $border-color;
    border-bottom: $size-1-2 solid $border-color;
}
@media only screen and (min-width: 768px) {
    .book-res-brd-left-sty
    {
        border-right: $size-1 solid $border-color;
    }
}

//popup-carriernote-scrl-sty 

.popup-carriernote-scrl-sty::-webkit-scrollbar {
    width: $size-6 !important;
    height: $size-6 !important;
}

.popup-carriernote-scrl-sty::-webkit-scrollbar-track {
    background: $doc-card-bg-color;
}

.popup-carriernote-scrl-sty::-webkit-scrollbar-thumb {
    background: $secondary-text-color;
    border-radius: $border-radius-10;
}
.popup-carriernote-scrl-sty {
    scrollbar-width: thin;
    overflow-y: scroll;
    height: $cp-popup-carriernote-scrl-sty;
}
