@font-face {
  font-family: "Barlow Bold";
  src: url("../Fonts/Barlow-Bold.eot") format("embedded-opentype"), url("../Fonts/Barlow-Bold.woff2") format("woff2"), url("../Fonts/Barlow-Bold.woff") format("woff"), url("../Fonts/Barlow-Bold.svg") format("svg"), url("../Fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow Semibold";
  src: url("../Fonts/Barlow-SemiBold.eot") format("embedded-opentype"), url("../Fonts/Barlow-SemiBold.woff2") format("woff2"), url("../Fonts/Barlow-SemiBold.woff") format("woff"), url("../Fonts/Barlow-SemiBold.svg") format("svg"), url("../Fonts/Barlow-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Regular";
  src: url("../Fonts/Lato-Regular.eot") format("embedded-opentype"), url("../Fonts/Lato-Regular.woff2") format("woff2"), url("../Fonts/Lato-Regular.woff") format("woff"), url("../Fonts/Lato-Regular.svg") format("svg"), url("../Fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Medium";
  src: url("../Fonts/Lato-Medium.eot") format("embedded-opentype"), url("../Fonts/Lato-Medium.woff2") format("woff2"), url("../Fonts/Lato-Medium.woff") format("woff"), url("../Fonts/Lato-Medium.svg") format("svg"), url("../Fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Semibold";
  src: url("../Fonts/Lato-Semibold.eot") format("embedded-opentype"), url("../Fonts/Lato-Semibold.woff2") format("woff2"), url("../Fonts/Lato-Semibold.woff") format("woff"), url("../Fonts/Lato-Semibold.svg") format("svg"), url("../Fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Bold";
  src: url("../Fonts/Lato-Bold.eot") format("embedded-opentype"), url("../Fonts/Lato-Bold.woff2") format("woff2"), url("../Fonts/Lato-Bold.woff") format("woff"), url("../Fonts/Lato-Bold.svg") format("svg"), url("../Fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato Extra Bold";
  src: url("../Fonts/Lato-ExtraBold.eot") format("embedded-opentype"), url("../Fonts/Lato-ExtraBold.woff2") format("woff2"), url("../Fonts/Lato-ExtraBold.woff") format("woff"), url("../Fonts/Lato-ExtraBold.svg") format("svg"), url("../Fonts/Lato-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
/*!
 * Common Theme - To be referred for the theming of the application
 * Theme Components Includes - Breadcrumbs, Buttons, Navigation, Highlights, Colors, Forms, Tables, etc.
 */
/* Styles for Body Background Color */
body {
  background-color: #F3F6F9;
}

/* Breadcrumb styles starts here */
ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
  font-family: "Lato Medium";
}

ul.breadcrumb li + li:before {
  padding: 0px 8px;
  vertical-align: middle;
  content: "";
  background-image: url("../Images/breadcrumb-arrow.svg");
  background-repeat: no-repeat;
}

ul.breadcrumb li a {
  padding-right: 8px;
  color: #115E67;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

/* Breadcrumb styles ends here */
/* Table styles starts here */
.cp-grid {
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
}

.grid-textbold {
  font-family: "Lato Extra Bold";
}

.grid-bold {
  font-family: "Lato Bold";
}

.cp-table-head {
  background-color: #F9FBFC;
  border-radius: 4px;
  border-bottom: 0.5px solid #DBDBDB;
}

.cp-grid tr:nth-child(even) {
  background-color: #F2FDFE;
}

.cp-grid th {
  padding: 16px;
  font-size: 15px;
  font-family: "Lato Bold";
  color: #262626;
}

.cp-grid tbody td {
  padding: 16px;
  font-size: 14px;
  font-family: "Lato Semibold";
  color: #464646;
}

.cp-table-sort {
  width: 12px;
  height: 9px;
  cursor: pointer;
}

.cp-grid th:first-child {
  border-radius: 4px 0 0 0;
}

.cp-grid th:last-child {
  border-radius: 0 4px 0 0;
}

.cp-grid tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.cp-grid tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

.cp-grid-pdf {
  width: 18px;
  height: 24px;
}

.cp-grid-count {
  padding: 6px;
  background-color: #1C85BF;
  color: #ffffff;
  border-radius: 3px;
  line-height: 1;
}

.cp-grid-secondary-text {
  font-size: 13px;
  font-family: "Lato Medium";
  color: #888888;
}

.cp-grid-records {
  color: #888888;
  font-family: "Lato Medium";
  font-size: 15px;
}

.cp-grid-record-count {
  color: #262626;
  font-family: "Lato Semibold";
}

.cp-grid-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.active-status {
  background-color: #115E67;
}

.invoiced-status {
  background-color: #2995D2;
}

.on-hold-status {
  background-color: #C0C0C0;
}

.booked-status {
  background-color: #03045E;
}

.dispatched-status {
  background-color: #FB8500;
}

.at-origin-status {
  background-color: #FC9D33;
}

.picked-up-status {
  background-color: #FDB666;
}

.in-transit-status {
  background-color: #FDCE99;
}

.out-of-delivery-status {
  background-color: #99DEB9;
}

.at-destination-status {
  background-color: #66CE95;
}

.delivered-status {
  background-color: #33BD72;
}

.delivered-final-status {
  background-color: #00AD4F;
}

.pool-status {
  background-color: #D9D9D9;
}

.dead-status {
  background-color: #AC171C;
}

/* Table styles ends here */
/* Common Styles */
.pointer {
  cursor: pointer;
}

.cp-link {
  text-decoration: none;
  color: #1C85BF;
  cursor: pointer;
}

.cp-link:hover {
  text-decoration: underline;
  color: #166d9c;
}

.page-header-txt {
  font-family: "Barlow Bold";
  font-size: 22px;
  color: #373737;
}

/* Form Styles starts here */
.cp-form-label {
  font-family: "Lato Semibold";
  font-size: 14px;
  color: #373737;
  margin-bottom: 8px;
}

.cp-form-mandatory {
  color: #AC171C;
}

.cp-form-field {
  border: 1px solid #DBDBDB;
  height: 40px;
  border-radius: 3px;
  font-family: "Lato Medium";
  font-size: 14px;
}

.cp-form-field:focus {
  border-color: #115E67;
  box-shadow: none;
}

.cp-textarea {
  height: 80px;
}

.cp-search {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #ffffff;
}

.cp-checkbox {
  border: 1px solid #DBDBDB;
  width: 20px;
  height: 20px;
}

.cp-checkbox:focus {
  border: 1px solid #115E67;
  box-shadow: none;
}

.cp-checkbox:active {
  background-color: #115E67;
  border: none;
}

.cp-checkbox:checked {
  background-color: #115E67;
  border: none;
}

/* Form Styles ends here */
/* Button Styles starts here */
.cp-btn-primary {
  font-family: "Lato Semibold";
  font-size: 14px;
  padding: 0px 24px;
  height: 40px;
  border-radius: 3px;
  background-color: #115E67;
  color: #ffffff;
  border: none;
}

.cp-btn-primary:hover {
  background-color: #0A4046;
  color: #ffffff;
}

.cp-btn-primary:active {
  background-color: #0A4046 !important;
  color: #ffffff !important;
}

.cp-btn-primary:focus {
  background-color: #0A4046;
  color: #ffffff;
  box-shadow: 0 0 0 0.25rem #92c1c5;
}

.cp-btn-primary.disabled, .cp-btn-primary:disabled, fieldset:disabled .cp-btn-primary {
  color: #ffffff;
  pointer-events: none;
  background-color: #115E67;
}

.cp-btn-secondary {
  font-family: "Lato Semibold";
  font-size: 14px;
  padding: 0px 24px;
  height: 40px;
  border-radius: 3px;
  background-color: #00873E;
  color: #ffffff;
  border: none;
}

.cp-btn-secondary:hover {
  background-color: #006A31;
  color: #ffffff;
}

.cp-btn-secondary:active {
  background-color: #006A31 !important;
  color: #ffffff !important;
}

.cp-btn-secondary:focus {
  background-color: #006A31;
  color: #ffffff;
  box-shadow: 0 0 0 0.25rem #92c1c5;
}

.cp-btn-tertiary {
  font-family: "Lato Semibold";
  font-size: 14px;
  padding: 0px 24px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #888888;
  border: 1px solid #888888;
}

.cp-btn-tertiary:hover {
  background-color: #888888;
  color: #ffffff;
}

.cp-btn-tertiary:active {
  background-color: #888888 !important;
  color: #ffffff !important;
  border: 1px solid #888888 !important;
}

.cp-btn-tertiary:focus {
  background-color: #888888;
  color: #ffffff;
  box-shadow: 0 0 0 0.25rem #92c1c5;
}

.cp-btn-tertiary {
  font-family: "Lato Semibold";
  font-size: 14px;
  padding: 0px 24px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  color: #888888;
  border: 1px solid #888888;
}

.cp-btn-tertiary:hover {
  background-color: #888888;
  color: #ffffff;
}

.cp-btn-tertiary:active {
  background-color: #888888 !important;
  color: #ffffff !important;
  border: 1px solid #888888 !important;
}

.cp-btn-tertiary:focus {
  background-color: #888888;
  color: #ffffff;
  box-shadow: 0 0 0 0.25rem #c1c1c1;
}

.cp-btn-filter {
  font-family: "Lato Semibold";
  font-size: 14px;
  padding: 0px 24px;
  height: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 3px;
  background-color: #ffffff;
  color: #00873E;
  border: 1px solid #DBDBDB;
}

.cp-btn-filter:hover {
  background-color: #d0f2e5;
  color: #00873E;
  border: 1px solid #00873E;
}

.cp-btn-filter:active {
  background-color: #d0f2e5 !important;
  color: #00873E !important;
}

.cp-btn-filter.show {
  background-color: #ffffff;
  color: #00873E;
  border: 1px solid #00873E;
}

.cp-btn-filter:focus {
  background-color: #d0f2e5;
  color: #00873E;
  box-shadow: 0 0 0 0.25rem #92c1c5;
}

.cp-btn-loadmore {
  font-family: "Lato Semibold";
  font-size: 14px;
  padding: 0px 24px;
  height: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 3px;
  background-color: #ffffff;
  color: #00873E;
  border: 1px solid #00873E;
}

.cp-btn-loadmore:hover {
  background-color: #d0f2e5;
  color: #00873E;
  border: 1px solid #00873E;
}

.cp-btn-loadmore:active {
  background-color: #d0f2e5 !important;
  color: #00873E !important;
}

.cp-btn-loadmore.show {
  background-color: #ffffff;
  color: #00873E;
  border: 1px solid #00873E;
}

.cp-btn-loadmore:focus {
  background-color: #d0f2e5;
  color: #00873E;
  box-shadow: 0 0 0 0.25rem #92c1c5;
}

/* Button Styles ends here */
/* Filter Styles starts here */
.advanced-filter {
  width: 450px;
  left: auto;
  right: 0px;
}

.adv-filter-title {
  color: #373737;
  font-family: "Lato Bold";
  font-size: 18px;
}

/* Filter Styles ends here */
.cp-accordion-body-padding {
  padding-left: 3.3rem;
  padding-right: 3.3rem;
}

.cp-accordion-header {
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Lato Bold";
  color: #115E67;
}

.cp-accordion-header.collapsed {
  color: #888888;
}

.cp-accordion-header.collapsed.completed {
  color: #373737;
}

.cp-accordion-header.completed {
  color: #115E67;
}

.cp-accordion-brd-radius {
  border-radius: 6px;
}

.cp-accordion-button::before {
  padding: 1px 10px;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  content: "";
  margin-left: unset !important;
  background-image: url("../Images/cp-accordion-close-icon.svg") !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.cp-accordion-button.completed::before {
  padding: 1px 10px;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  content: "";
  margin-left: unset !important;
  background-image: url("../Images/cp-accordion-completed-icon.svg") !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.cp-accordion-button:not(.collapsed)::before {
  background-image: url("../Images/cp-accordion-open-icon.svg") !important;
  transform: rotate(180deg);
}

.cp-textarea {
  resize: none;
}

.primary-info-accordion {
  font-family: "Lato Medium";
  font-size: 16px;
  color: #115E67 !important;
}

.ctl-header-accordion::after {
  padding: 0px 8px;
  flex-shrink: 0;
  width: 8px;
  height: 10px;
  display: inline-block;
  content: "";
  margin-left: 8px;
  background-image: url("../Images/primary-info-acc-closed.svg");
  background-repeat: no-repeat;
  background-size: 0.9rem;
  transition: transform 0.2s ease-in-out;
}

.ctl-header-accordion:not(.collapsed)::after {
  background-image: url("../Images/primary-info-acc-open.svg");
  transform: none;
}

.cp-tbl-acc-button::before {
  padding: 1px 10px;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  content: "";
  margin-left: unset !important;
  background-image: url("../Images/t-accordion-close.svg") !important;
  background-repeat: no-repeat;
  background-size: 1.15rem;
  transition: transform 0.2s ease-in-out;
}

.cp-tbl-acc-button:not(.collapsed)::before {
  background-image: url("../Images/t-accordion-open.svg") !important;
  transform: rotate(180deg);
}

.tbl-acc-btn {
  background-color: transparent;
  border: none;
}

.tbl-acc-alt-rowclr {
  background-color: #F2FDFE;
}

.table-parent-accordion {
  border-left: 3px solid #125E66 !important;
  box-shadow: inset 0px -1px 10px 1px #e5e5e5;
}

.taccordion-data-width {
  width: 20%;
}

.t-data-label {
  font-family: "Lato Bold";
  font-size: 14px;
  color: #373737;
}

.primary-header {
  font-family: "Lato Bold";
  font-size: 18px;
  color: #373737;
}

.data-label {
  font-family: "Lato Bold";
  font-size: 16px;
  color: #373737;
  margin-bottom: 6px;
}

.data-txt {
  font-family: "Lato Medium";
  font-size: 14px;
  color: #888888;
}

.title-icon {
  width: 44px;
  height: 44px;
}

.back-icon {
  width: 40px;
  height: 40px;
}

.success-icon {
  width: 44px;
  height: 44px;
}

.success-popup-width {
  max-width: 560px;
}

.weight-validation-popup {
  max-width: 480px;
}

.popup-header {
  font-family: "Barlow Bold";
  font-size: 20px;
  color: #373737;
}

.popup-txt {
  font-family: "Lato Semibold";
  font-size: 16px;
  color: #888888;
}

@media only screen and (max-width: 1150px) {
  .page-header-txt {
    font-size: 20px;
  }
  .primary-header {
    font-size: 16px;
  }
  .data-label {
    font-size: 14px;
  }
  .data-txt {
    font-size: 12px;
  }
}
.cp-background {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  min-height: 90vh;
}

.cp-footer {
  text-align: center;
  background-color: #115E67;
  color: #ffffff;
  font-size: 12px;
  font-family: "Lato Semibold";
}

@media only screen and (min-width: 1001px) {
  .advanced-filter {
    width: 450px;
    left: auto !important;
    right: 0px !important;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .advanced-filter {
    width: 450px;
  }
}
@media only screen and (max-width: 499px) {
  .advanced-filter {
    width: 300px;
  }
}
.search-form-field {
  border: 1px solid #DBDBDB;
  height: 40px;
  border-radius: 3px;
  font-family: "Lato Medium";
  font-size: 14px;
}

.search-form-field:focus {
  border-color: #DBDBDB;
  box-shadow: none;
}

.delete-icon {
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 499px) {
  .delete-icon {
    width: 28px;
    height: 28px;
  }
}
.popupgrid-scroll-sty::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.popupgrid-scroll-sty::-webkit-scrollbar-track {
  background: #f9fbfc;
}

.popupgrid-scroll-sty::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}

.popupgrid-scroll-sty {
  scrollbar-width: thin;
  overflow-y: scroll;
  height: 373px;
}

.notfound-popup-img-sty {
  width: 113px;
  height: 88px;
}

.container-pos-rel {
  position: relative;
}

.overlay {
  position: fixed;
  background: #ffffff;
  width: 100%;
  height: 100%;
  top: 72px;
  opacity: 0.8;
  z-index: 1050;
}

.add-admin-norec {
  width: 90px;
  height: 90px;
}/*# sourceMappingURL=commontheme.css.map */