@import './variable';

.ctl-border-line{
    border-bottom: $size-1 solid $border-color;
}
@media only screen and (min-width: 768px) {
    .ctl-res-brd-left-sty
    {
        border-right: $size-1 solid $border-color;
    }
}
.completed-status {
    color: $secondary-color;
    font-size: $font-size-14;
    font-family: $primary-font-medium
  }
  
  .status-icon {
    width: $status-icon-width;
    height: $status-icon-height;
  }