@import './variable';

.header-shadow {
    box-shadow: $header-shadow;
}

.cp-header-tab-sty {
    font-size: $font-size-15;
    font-family: $primary-font-bold;
    color: $primary-text-color;
    background-color: $white-color;
    border-radius: $border-radius-3 !important;
    padding: $padding-5 $padding-12;
}

.cp-header-tab-sty:hover {
    background-color: $primary-color;
    color: $white-color;
}

.cp-header-tab-sty:focus {
    background-color: $primary-color;
    color: $white-color;
}

.nav-pills .cp-header-tab-sty.active,
.nav-pills .show>.cp-header-tab-sty {
    background-color: $primary-color;
    color: $white-color;
}

.navbar-nav .cp-header-tab-sty.active,
.navbar-nav .show>.nav-link .navbar-dark .custom-navbar-toggler-icon {
    background-color: $primary-color;
    color: $white-color;
}

.nav-cust-txt {
    font-family: $page-heading-font;
    color: $primary-text-color;
    font-size: $font-size-15;
}

.nav-cusname-sty {
    font-family: $primary-font-bold;
    font-size: $font-size-15;
    color: $primary-color;
}

.nav-batch {
    background-color: $user-info-batch-color;
    padding: $padding-8 $padding-10;
    color: $secondary-color;
    border-radius: $border-radius-3;
    font-family: $primary-font-semibold;
    font-size: $font-size-15;
    width: fit-content;
}

.nav-batch:hover {
    color: $secondary-color;
}
.nav-batch::after
 {
    background-image: url('../Images/nav-batch-dropdown-icon.svg');
    background-repeat: no-repeat;
    padding: 3px 6px;
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: middle;
    content: "";
}
.nav-dropdown-align-sty
{
    vertical-align: unset;
}
.logout-icon-wid
{
height: 12px;
width: 18px;
}
.cp-dropdown-div {
    border-bottom: $size-1 solid $border-color;
    color: unset;
}

.cp-dropdown-bg:active
{ 
    background-color: $user-info-batch-color !important;
    color: $primary-text-color;
}

.dropdown-sty.show {
    // left: auto;
    // right: 0px;
    border: none;
    box-shadow: $cp-dropdown-boxshadow;
}

.cp-logo-sty {
    width: $cp-logo-sty-width;
    height: $cp-logo-sty-height;
}

.nav-alignment {
    width: max-content;
}

.toggle-sty {
    padding: $padding-0 !important;
    //  border-color: #000000 !important;
    box-shadow: none !important;
}

.off-canvas-sty {
    z-index: $header-z-index;
    width: $header-off-canvas-width !important;
}

@media only screen and (min-width: 300px) and (max-width: 1050px) {
    .nav-bar-view {
        display: none;
    }

    .offcanvas-view {
        display: block;
    }

    .nav-alignment {
        width: unset;
    }
}

@media only screen and (min-width: 1050px) {
    .offcanvas-view {
        display: none;
    }
}

.hamburger-icon-sty {
    width: $hamburger-icon-width;
    height: $hamburger-icon-height;
    background-color: $white-color;
}

.cust-info-txt {
    font-family: $primary-font-medium;
    font-size: 16px;
    color: $primary-text-color;
}