@import './variable';

//login screen sty
.cp-logo-sty {
    width: $cp-logo-sty-width;
    height: $cp-logo-sty-height;
}

.container-height {
    min-height: $cp-login-bg-size;
}

.login-logo-sty {
    width: $cp-login-logo-width;
    height: $cp-login-logo-height;
}

.login-bg-image {
    background-image: url('../Images/login-bg-img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100vh;
    // background-position: bottom;
}

.login-footer-width {
    width: $percent-50;
}

.footer-pos-abs {
    position: absolute;
    bottom: 0;
}

@media only screen and (min-width: 300px) and (max-width: 991px) {
    .login-footer-width {
        width: $percent-100 !important;
    }
}

@media only screen and (min-width: 1366px) {
    .login-bg-image {
        background-position: bottom;
    }
}

@media only screen and (max-width: 340px) {
    .width-sty {
        flex-direction: column;
    }

    .login-btn-order {
        order: 1;
    }
}

.forget-ps-sty {
    font-family: $primary-font-semibold;
    font-size: $font-size-14;
    margin-bottom: $form-label-margin-bottom;
}

.validate-icon {
    width: $cp-valid-icon-width;
    height: $cp-valid-icon-height;
}

.pwd-validation-complete {
    color: $primary-text-color;
}

.cp-primary-btn.disabled,
.cp-primary-btn:disabled {
    background-color: blue;
    color: white;
    pointer-events: none;
    opacity: .65;
}

.otp-timer {
    color: darkgreen;
}

.underLine-remover {
    text-decoration: none;
}