@import './variable';

/* stepper styles starts here */
.qut-custom-stepper {
    list-style: none;
    text-align: center;
    width: $percent-100;
}
.qut-stepper-text {
    font-size: $font-size-16;
    font-family: $stepper-heading-font;
    color: $secondary-text-color;
}
.qut-stepper-count.active .qut-stepper-text {
    font-size: $font-size-16;
    font-family: $stepper-heading-font;
    color: $primary-color;
}
.qut-stepper-count.completed .qut-stepper-text {
    font-size: $font-size-16;
    font-family: $stepper-heading-font;
    color: $primary-color;
}
.qut-shipmentdetail-stepper-icon {
    background-image: url('../Images/bookltl-shipment-details-active-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}
.qut-stepper-count.active .qut-shipmentdetail-stepper-icon {
    background-image: url('../Images/bookltl-shipment-details-active-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}
.qut-stepper-count.completed .qut-shipmentdetail-stepper-icon {
    background-image: url('../Images/bookltl-shipment-details-completed-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}
.qut-shipperinfo-stepper-icon {
    background-image: url('../Images/bookltl-shipment-info-inactive-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}
.qut-stepper-count.active .qut-shipperinfo-stepper-icon {
    background-image: url('../Images/bookltl-shipment-info-active-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}
.qut-stepper-count.completed .qut-shipperinfo-stepper-icon {
    background-image: url('../Images/bookltl-shipment-info-completed-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}
.qut-choosecarrier-stepper-icon {
    background-image: url('../Images/bookltl-choose-carrier-inactive-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}
.qut-stepper-count.active .qut-choosecarrier-stepper-icon {
    background-image: url('../Images/bookltl-choose-carrier-active-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}
.qut-stepper-count.completed .qut-choosecarrier-stepper-icon {
    background-image: url('../Images/bookltl-choose-carrier-completed-icon.svg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: $padding-17 $padding-27;
}
.qut-stepper-count {
    position: relative;
    display: inline-block;
}

.qut-stepper-count:not(:first-child) {
    margin-left: $margin-4em;
}

.qut-stepper-count.active.qut-stepper-2::after {
    border-bottom: $stepper-border-2 dashed $primary-color;
}

.qut-stepper-count.completed.qut-stepper-2::after {
    border-bottom: $stepper-border-2 dashed $primary-color;
}

.qut-stepper-count.active.qut-stepper-3::after {
    border-bottom: $stepper-border-2 dashed $primary-color;
}

.qut-stepper-count.completed.qut-stepper-3::after {
    border-bottom: $stepper-border-2 dashed $primary-color;
}

@media only screen and (max-width: 460px) {
    .qut-stepper-count:not(:first-child) {
        margin-left: $margin-2em;
    }
}


.qut-stepper-2::after {
    content: "";
    width: $percent-140;
    border-bottom: $stepper-border-2 dashed $stepper-color;
    position: absolute;
    height: $stepper-border-height-1;
    top: $percent-16;
    left: -$percent-142;
    z-index: -$stepper-z-index-1;
}
.qut-stepper-3::after {
    content: "";
    width: $percent-99;
    border-bottom: $stepper-border-2 dashed $stepper-color;
    position: absolute;
    height: $stepper-border-height-1;
    top: $percent-16;
    left: -$percent-92;
    z-index: -$stepper-z-index-1;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .qut-stepper-2::after {
        content: "";
        width: $percent-34;
        border-bottom: $stepper-border-2 dashed $stepper-color;
        position: absolute;
        height: $stepper-border-height-1;
        top: $percent-52;
        left: -$percent-36;
        z-index: -$stepper-z-index-1;
    }

    .qut-stepper-3::after {
        content: "";
        width: $percent-32;
        border-bottom: $stepper-border-2 dashed $stepper-color;
        position: absolute;
        height: $stepper-border-height-1;
        top: $percent-52;
        left: -$percent-34;
        z-index: -$stepper-z-index-1;
    }
}

@media only screen and (min-width: 1200px) {
    .qut-stepper-2::after {
        content: "";
        width: $percent-29;
        border-bottom: $stepper-border-2 dashed $stepper-color;
        position: absolute;
        height: $stepper-border-height-1;
        top: $percent-52;
        left: -$percent-30;
        z-index: -$stepper-z-index-1;
    }

    .qut-stepper-3::after {
        content: "";
        width: $percent-32;
        border-bottom: $stepper-border-2 dashed $stepper-color;
        position: absolute;
        height: $stepper-border-height-1;
        top: $percent-52;
        left: -$percent-34;
        z-index: -$stepper-z-index-1;
    }
}
@media only screen and (min-width: 768px) {
    .quote-res-brd-left-sty
    {
        border-right: $size-1 solid $border-color;
    }
}
.margin-align-3
{
    margin-top: $margin-3;
}
