// Primary Variables
$primary-color: #115E67; 
$primary-color-focus: #0A4046;

$user-info-batch-color: #d0f2e5;

$secondary-color: #00873E;
$secondary-color-focus: #006A31;

$filter-btn-color-focus: #d0f2e5;

$page-heading-color: #373737;

$primary-text-color: #373737;
$secondary-text-color: #888888;
$white-color: #ffffff;
$link-color: #1C85BF;
$link-color-focus: #166d9c;
$border-color: #DBDBDB;
$doc-card-bg-color: #f9fbfc;

$stepper-color: #0000001a;

//From Variables
$form-label-color: #373737;
$form-text-color: #464646;
$form-label-margin-bottom: 8px;
$button-border-radius-3: 3px;

//Table Color Variables
$t-head-color: #262626;
$t-body-color: #464646;
$t-head-bgcolor: #F9FBFC;
$t-alternate-bgcolor: #F2FDFE;

// Table Status Colors
$invoiced-status: #2995D2;
$on-hold-status: #C0C0C0;
$booked-status: #03045E;
$dispatched-status: #FB8500;
$at-origin-status: #FC9D33;
$pickedup-status: #FDB666;
$in-transit-status: #FDCE99;
$out-of-delivery-status: #99DEB9;
$at-destination-status: #66CE95;
$delivered-status: #33BD72;
$delivered-final-status: #00AD4F;
$pool-status: #D9D9D9;
$dead-status: #AC171C;

// Status Badge Bg Colors
$batch-bg: #666666; 
// $active-badge: #D9FBFF;
// $invoiced-badge: #D2EFFF;
// $on-hold-badge: #F4F4F4;
// $booked-badge: #D3D4FF;
// $pickup-badge: #FFF3E5;
// $delivery-badge: #E4FFF1;
// $dead-badge: #FFE3E4;

//Background Color
$body-bgcolor: #F3F6F9;


// Fonts
@font-face {
    font-family: 'Barlow Bold';
    src: url('../Fonts/Barlow-Bold.eot') format('embedded-opentype'),
         url('../Fonts/Barlow-Bold.woff2') format('woff2'),
         url('../Fonts/Barlow-Bold.woff') format('woff'),
         url('../Fonts/Barlow-Bold.svg') format('svg'),
         url('../Fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semibold';
    src: url('../Fonts/Barlow-SemiBold.eot') format('embedded-opentype'),
         url('../Fonts/Barlow-SemiBold.woff2') format('woff2'),
         url('../Fonts/Barlow-SemiBold.woff') format('woff'),
         url('../Fonts/Barlow-SemiBold.svg') format('svg'),
         url('../Fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../Fonts/Lato-Regular.eot') format('embedded-opentype'),
         url('../Fonts/Lato-Regular.woff2') format('woff2'),
         url('../Fonts/Lato-Regular.woff') format('woff'),
         url('../Fonts/Lato-Regular.svg') format('svg'),
         url('../Fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Medium';
    src: url('../Fonts/Lato-Medium.eot') format('embedded-opentype'),
         url('../Fonts/Lato-Medium.woff2') format('woff2'),
         url('../Fonts/Lato-Medium.woff') format('woff'),
         url('../Fonts/Lato-Medium.svg') format('svg'),
         url('../Fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Semibold';
    src: url('../Fonts/Lato-Semibold.eot') format('embedded-opentype'),
         url('../Fonts/Lato-Semibold.woff2') format('woff2'),
         url('../Fonts/Lato-Semibold.woff') format('woff'),
         url('../Fonts/Lato-Semibold.svg') format('svg'),
         url('../Fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Bold';
    src: url('../Fonts/Lato-Bold.eot') format('embedded-opentype'),
         url('../Fonts/Lato-Bold.woff2') format('woff2'),
         url('../Fonts/Lato-Bold.woff') format('woff'),
         url('../Fonts/Lato-Bold.svg') format('svg'),
         url('../Fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Extra Bold';
    src: url('../Fonts/Lato-ExtraBold.eot') format('embedded-opentype'),
         url('../Fonts/Lato-ExtraBold.woff2') format('woff2'),
         url('../Fonts/Lato-ExtraBold.woff') format('woff'),
         url('../Fonts/Lato-ExtraBold.svg') format('svg'),
         url('../Fonts/Lato-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

$page-heading-font:'Barlow Bold';
$stepper-heading-font:'Barlow Semibold';
$primary-font-regular:'Lato Regular';
$primary-font-medium:'Lato Medium';
$primary-font-semibold:'Lato Semibold';
$primary-font-bold:'Lato Bold';
$primary-font-extrabold:'Lato Extra Bold';

//Font Size
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;

//Padding Size
$padding-0: 0px;
$padding-4: 4px;
$padding-5: 5px;
$padding-6: 6px;
$padding-8: 8px;
$padding-10: 10px;
$padding-12: 12px;
$padding-16: 16px;
$padding-17: 17px;
$padding-20: 20px;
$padding-24: 24px;
$padding-27: 27px;

//margin size
$margin-3: 3px;

//Common Size
$size-0: 0px;
$size-1-2: 0.5px;
$size-1: 1px;
$size-2: 2px;
$size-4: 4px;
$size-6: 6px;
$no-records-card-height: 40vh;
$header-off-canvas-width:280px;
$doc-slim-scroll-height: 336px;
$doc-z-index: 1;
$header-z-index: 1080;

//Line Height Size
$line-height-1: 1;

$border-radius-1: 1px;
$border-radius-3: 3px;
$border-radius-4: 4px;
$border-radius-10: 10px;

$t-border-radius-1: 1px;
$t-border-radius-4: 4px;

//Percentange
$percent-0: 0%;
$percent-10: 10%;
$percent-15: 15%;
$percent-16: 16%;
$percent-20: 20%;
$percent-25: 25%;
$percent-27: 27%;
$percent-29: 29%;
$percent-30: 30%;
$percent-32: 32%;
$percent-34: 34%;
$percent-35: 35%;
$percent-36: 36%;
$percent-37: 37%;
$percent-38: 38%;
$percent-40: 40%;
$percent-45: 45%;
$percent-50: 50%;
$percent-52: 52%;
$percent-60: 60%;
$percent-75: 75%;
$percent-80: 80%;
$percent-86: 86%;
$percent-92: 92%;
$percent-98: 98%;
$percent-99: 99%;
$percent-100: 100%;
$percent-140: 140%;
$percent-142: 142%;
$percent-144: 144%;
$percent-150: 150%;

//Stepper Variables
$margin-2em: 2em;
$margin-4em: 4em;
$stepper-border-1rem: 2px;
$stepper-border-2: 2px;
$stepper-border-height-1: 1px;
$stepper-z-index-1: 1;


//Button Size
$commentbox-height: 80px;
$button-height: 40px;
$button-border-radius-3: 3px;
$d-records-width: 160px;
$checkbox-width: 20px;
$checkbox-height: 20px;
$cp-btn-primary-boxshadow: 0 0 0 0.25rem #92c1c5;
$cp-btn-secondary-boxshadow: 0 0 0 0.25rem #92c1c5;
$cp-btn-tertiary-boxshadow: 0 0 0 0.25rem #c1c1c1;

$header-shadow: 0px 0px 10px 0px #e5e5e5;;

//icon-sizing
$sort-icon-width: 12px;
$sort-icon-height: 9px;

$cp-grid-status-width: 8px;
$cp-grid-status-height: 8px;

$t-pdf-icon-width: 18px;
$t-pdf-icon-height: 24px;

$search-icon-width: 16px;
$search-icon-height: 16px;

$title-icon-width:44px;
$title-icon-height: 44px;

$success-icon-width: 44px;
$success-icon-height: 44px;

$back-icon-width: 40px;
$back-icon-height: 40px;

$pdf-icon-width: 40px;
$pdf-icon-height: 48px;

$download-icon-width: 20px;
$download-icon-height: 19px;

$email-icon-width: 26px;
$email-icon-height: 18px;

$no-records-icon-width: 67px;
$no-records-icon-height: 65px;

$hamburger-icon-width: 30px;
$hamburger-icon-height: 30px;

$status-icon-width: 20px;
$status-icon-height: 20px;

//Filter Variables
$adv-filter-width: 450px;

//Popup Variables
$cp-success-popup-width: 560px;
$weight-validation-popup: 480px;
$density-popup-width: 650px;
$send-email-popup-width: 600px;
$search-popup-width: 750px;
$view-details-popup-width: 850px;

//textarea
$cp-textarea: none;

//Accordion Variables 
$table-accordion-width: 24px;
$table-accordion-height: 24px;

$dropdown-icon-width: 6px;
$dropdown-icon-height: 11px;

$accordion-complete-icon-width: 26px;
$accordion-complete-icon-height: 26px;

$acc-radius: 6px;
$cp-section-accbtn-padding-tb: 1px;
$cp-section-accbtn-padding-lr: 10px;
$cp-section-accbody-padding: 3.3rem;

//Accordion Variables 
$t-acc-boxshadow:inset 0px -1px 10px 1px #e5e5e5;

//dropdown styles
$cp-dropdown-boxshadow: 0px -1px 10px 1px #e5e5e5;

// Navbar styles
$cp-logo-sty-width: 100px;
$cp-logo-sty-height: 33px;
$cp-nav-mbl-scr: 20px;

//login page styles
$cp-login-bg-size: 100vh;
$cp-login-logo-width: 169px;
$cp-login-logo-height: 40px;
$cp-valid-icon-width: 16px;
$cp-valid-icon-height: 16px;

//density popup icon position
$density-popup-top-position: 35px;
$density-popup-left-position: 170px;

//popup grid scroll sty
$cp-popup-grid-scrl-hight: 373px;
$cp-popup-carriernote-scrl-sty : 200px;
// 404 - not fount image styles
$cp-404-popup-img-width:113px;
$cp-404-popup-img-height:88px;

//add & edit admin page grid no records found image style
$add-admin-norec-width: 90px;
$add-admin-norec-height: 90px;

$loader-overlay-width: 100%;
$loader-overlay-height: 100%;
$loader-overlay-top: 72px;
$loader-overlay-z-index: 1050;
$loader-overlay-opacity: 0.8;



